GPM_USUARIO=cristian
GPM_SENHA=123mudar!
CHAVE_API_GEMINI=AIzaSyBasuceseobN2mupamYzOd1_duXUtiAGYA
FLASK_SECRET_KEY=
RUNRUNIT_APP_KEY=c6b117ebe34456684d53d7e7c6952160
RUNRUNIT_USER_TOKEN=Spq8Zf69iyYUf9OPoIeg
